# Ignore all CSV files
*.csv

# Except those inside log_files/
!log_files/analyzer/*.csv
!log_files/filter/*.csv
!log_files/filterAnalyzer/*.csv
!log_files/loader/*.csv
!log_files/top_system/*.csv

components/
build/
debug/
sdkconfig.*
managed_components
bin
